body {
  line-height: 2;
}

li {
  color: #2b2b2b;
  list-style: none;
  padding: 5px;
  text-align: left;
}

.card-body {
  padding: 0;
}

.card-weather {
  border-radius: 50px;
  color: white;
  margin: 100px;
  text-align: center;
}

.container-class {
  background-image: url("background-img.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.humidity {
  border-right: 1px solid rgb(235, 232, 232);
}

.todays-info {
  padding: 20px;
}

.extra-info {
  background: rgb(158, 158, 161);
  background: linear-gradient(
    180deg,
    rgba(158, 158, 161, 1) 0%,
    rgba(208, 208, 209, 1) 10%,
    rgba(236, 237, 238, 1) 17%,
    rgba(255, 255, 255, 1) 26%
  );
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #878787;
  text-align: center;
  padding: 100px;
}

#body {
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

#todays-detailed-info {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
}

#current-city {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 25%;
  text-shadow: #274f8c 1px 0 5px;
  text-transform: uppercase;
}

#current-weather-detail {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#current-humidity {
  font-size: 20px;
  padding-top: 8px;
}

#current-temperature {
  font-size: 80px;
}

#current-wind {
  font-size: 20px;
  padding-top: 8px;
}

#hr {
  border-width: 4px;
  border-radius: 50px;
  color: white;
  height: 8px;
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9px;
  opacity: 0.9;
  width: 40%;
}
