body {
  line-height: 2;
}

li {
  color: #2b2b2b;
  list-style: none;
  padding: 5px;
  text-align: left;
}

h1 {
  display: inline;
  width: 50px;
}

.active {
  background: blueviolet;
  opacity: 50%;
}

.active:hover {
  cursor: default;
}

.card-body {
  padding: 0;
}

.card-weather {
  border-radius: 50px;
  color: white;
  margin: 100px;
  text-align: center;
}

.container-class {
  background-image: url("background-img.jpg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.humidity {
  border-image: linear-gradient(
      180deg,
      hsla(0, 0%, 87.1%, 0) 0,
      #dedede 25%,
      #dedede 70%,
      hsla(0, 0%, 87.1%, 0) 85%,
      hsla(0, 0%, 87.1%, 0)
    )
    1 100%;
  border-right: 1px solid rgb(235, 232, 232);
}

.todays-info {
  padding: 20px;
}

.extra-info {
  background: rgb(158, 158, 161);
  background: linear-gradient(
    180deg,
    rgba(158, 158, 161, 1) 0%,
    rgba(208, 208, 209, 1) 10%,
    rgba(236, 237, 238, 1) 17%,
    rgba(255, 255, 255, 1) 26%
  );
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #878787;
  text-align: center;
  padding: 100px;
}

.icon {
  padding: 10px;
  width: 20px;
}

.input-container {
  width: 300px;
}

.extra-info-container {
  margin: 30px 0;
}

.highlights {
  border-image: linear-gradient(
      180deg,
      hsla(0, 0%, 87.1%, 0) 0,
      #dedede 25%,
      #dedede 70%,
      hsla(0, 0%, 87.1%, 0) 85%,
      hsla(0, 0%, 87.1%, 0)
    )
    1 100%;
  border-right: 2px solid #d3d3d3;
}

.search-form {
  font-weight: bolder;
  opacity: 50%;
}

.units {
  background-color: #46b2d9;
  border-color: #2e5286;
  border-radius: 50px;
  box-shadow: 2px 2px 10px gray;
  padding: 5px 5px;
  margin: 10px 5px;
  width: 40px;
}

.units:hover {
  background-color: #2e5286;
  border-color: #46b2d9;
}

.units-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#body {
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

#todays-detailed-info {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 10px;
}

#current-city {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 25%;
  text-shadow: #274f8c 1px 0 5px;
  text-transform: uppercase;
}

#current-weather-detail {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#current-humidity {
  font-size: 20px;
  padding-top: 8px;
}

#current-temperature {
  font-size: 80px;
}

#current-wind {
  font-size: 20px;
  padding-top: 8px;
}

#hr {
  border-width: 4px;
  border-radius: 50px;
  color: white;
  height: 8px;
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 9px;
  opacity: 0.9;
  width: 40%;
}

#unit {
  font-size: 28px;
  padding: 0 10px;
  position: relative;
  top: -35px;
}

#city-name {
  margin-top: 12%;
}
